a {
    color:rgb(102, 101, 132);
}
a:visited {
    color:rgb(102, 101, 132);
}
a:active {
    color:rgb(102, 101, 132);
}
a:hover {
    color:rgb(102, 101, 132);
}
 p.c9 {
    color: black; font-size: x-large; font-weight: bold
 }
 body.c8 {
    color: black; background-color: rgb(224, 224, 224)
 }
 table.c7 {
    width: 650px; height: 650px
 }
 td.c6 {
    text-align: center
 }
 table.c5 {
    width: 600px; height: 30px;
 }
 td.c4 {
    color: black; text-align: left
 }
 p.c3 {
    font-size: x-small
 }
 tr.c2 {
    background-color:  rgb(205, 219, 235);
 }
 td.c1 {
    height: 35px
 }

 .style1 {
    background-color: rgb(92, 107, 123);
  }

  .style2 {
    background-color: white;
  }